# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo



# Python cache
*.pyc

# Testing
.pytest_cache/

# # CI/CD
# .github/
# .gitlab/
# .circleci/
# .azure/
# .trae